{% extends "base.html" %}
{% extends "account/base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MySite</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_change_password' %}">Change Password</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {% block inner_content %}
  <!-- Allauth child templates will inject content here -->
  {% endblock %}
</div>
{% endblock %}
