asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
crispy-bootstrap5==2025.4
cryptography==44.0.3
Django==5.0
django-allauth==65.8.0
django-crispy-forms==2.4
django-js-asset==3.1.2
django-mptt==0.17.0
idna==3.10
pillow==11.2.1
pycparser==2.22
PyJWT==2.8.0
python-decouple==3.8
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
stripe==12.2.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
