{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h3>{% if object %}Update{% else %}Create{% endif %} Product</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <h4 class="mt-4">Product Images</h4>
                        {{ formset.management_form }}
                        <div class="row">
                            {% for form in formset %}
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        {% if form.instance.image %}
                                        <img src="{{ form.instance.image.url }}" class="img-fluid mb-2" style="max-height: 150px;">
                                        {% endif %}
                                        {{ form|crispy }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                            <a href="{% if object %}{% url 'product_detail' object.slug %}{% else %}{% url 'product_list' %}{% endif %}" 
                               class="btn btn-secondary me-md-2">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-primary">
                                {% if object %}Update{% else %}Create{% endif %} Product
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}