{% load static %}
    <footer class="bg-dark text-white pt-5 pb-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <h5>SportsHub</h5>
                    <p>Your ultimate destination for sports gear and apparel.</p>
                    <div class="social-icons">
                        <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                {% comment %}
                <div class="col-md-3 mb-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about' %}" class="text-white">About Us</a></li>
                        <li><a href="{% url 'contact' %}" class="text-white">Contact Us</a></li>
                        <li><a href="{% url 'faq' %}" class="text-white">FAQs</a></li>
                        <li><a href="{% url 'privacy-policy' %}" class="text-white">Privacy Policy</a></li>
                        <li><a href="{% url 'terms' %}" class="text-white">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-4">
                    <h5>Customer Service</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'shipping-info' %}" class="text-white">Shipping Information</a></li>
                        <li><a href="{% url 'returns' %}" class="text-white">Returns & Exchanges</a></li>
                        <li><a href="{% url 'size-guide' %}" class="text-white">Size Guide</a></li>
                        <li><a href="{% url 'product-care' %}" class="text-white">Product Care</a></li>
                    </ul>
                </div>
                {% endcomment %}
                <div class="col-md-3 mb-4">
                    <h5>Newsletter</h5>
                    <p>Subscribe to get updates on new products and special offers!</p>
                    <form class="mt-3">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Your email" aria-label="Your email">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="my-4 bg-secondary">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-0">&copy; {% now "Y" %} SportsHub. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <img src="{% static 'images/payment-methods.png' %}" alt="Payment Methods" class="img-fluid" style="height: 30px;">
                </div>
            </div>
        </div>
    </footer>