{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Update User: {{ user.email }}</h1>
        <a href="{% url 'users_list' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left mr-2"></i>Back to List
        </a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">User Information</h6>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.username|as_crispy_field }}
                        {{ form.email|as_crispy_field }}
                        {{ form.first_name|as_crispy_field }}
                        {{ form.last_name|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        <div class="text-center mb-3">
                            {% if user.profile_picture %}
                            <img src="{{ user.profile_picture.url }}" class="rounded-circle mb-2" width="100" height="100">
                            {% else %}
                            <div class="rounded-circle bg-secondary text-white d-flex align-items-center justify-content-center mx-auto mb-2" 
                                 style="width: 100px; height: 100px; font-size: 2rem;">
                                {{ user.first_name|first|default:user.username|first|upper }}
                            </div>
                            {% endif %}
                            {{ form.profile_picture|as_crispy_field }}
                        </div>
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h5 class="mb-3">Personal Information</h5>
                        {{ form.gender|as_crispy_field }}
                        {{ form.date_of_birth|as_crispy_field }}
                        {{ form.phone|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        <h5 class="mb-3">Address Information</h5>
                        {{ form.address|as_crispy_field }}
                        <div class="row">
                            <div class="col-md-6">{{ form.city|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.state|as_crispy_field }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form.zip_code|as_crispy_field }}</div>
                            <div class="col-md-6">{{ form.country|as_crispy_field }}</div>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-md-12">
                        <h5 class="mb-3">Permissions</h5>
                        <div class="form-check form-switch mb-3">
                            {{ form.is_active|as_crispy_field }}
                        </div>
                        <div class="form-check form-switch mb-3">
                            {{ form.is_staff|as_crispy_field }}
                        </div>
                        <div class="form-check form-switch mb-3">
                            {{ form.is_superuser|as_crispy_field }}
                        </div>
                        <div class="form-check form-switch">
                            {{ form.is_email_verified|as_crispy_field }}
                        </div>
                    </div>
                </div>
                
                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save mr-2"></i>Update User
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}